<form [formGroup]="cardForm">

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field class="full-width">
      <mat-label>Full Name</mat-label>
      <input formControlName="fullName" matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" placeholder="Phone Number" value="+380">
    </mat-form-field>
  </div>


  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field class="full-width">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" placeholder="Model">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Serial Number</mat-label>
      <input matInput formControlName="serialNumber" placeholder="Serial Number">
    </mat-form-field>
  </div>


  <mat-label>Set:</mat-label>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-checkbox #noteBook>NoteBook</mat-checkbox>
    <mat-checkbox #akb>AKB</mat-checkbox>
    <mat-checkbox #chargeCable>Charge Cable</mat-checkbox>
    <mat-checkbox #chargeBlock>Charge Block</mat-checkbox>
    <mat-checkbox #packet>Packet</mat-checkbox>
    <mat-checkbox #pc>PC</mat-checkbox>
    <mat-checkbox #tablet>Tablet</mat-checkbox>
    <mat-checkbox #smartPhone>SmartPhone</mat-checkbox>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Malfunction</mat-label>
    <textarea formControlName="malfunction" matInput placeholder="Malfunction"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="note" placeholder="Notes"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Comment</mat-label>
    <textarea matInput formControlName="comment" placeholder="Comment"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit(buildSetString(noteBook.checked,
   akb.checked, chargeCable.checked, chargeBlock.checked, packet.checked, pc.checked, tablet.checked, smartPhone.checked))" [disabled]="!isFormValid(noteBook.checked ||
   akb.checked || chargeCable.checked || chargeBlock.checked || packet.checked || pc.checked || tablet.checked || smartPhone.checked)"
          class="full-width" type="submit">OK</button>


</form>
