<div fxLayout="column" fxLayoutAlign="space-between start" *ngIf="card" class="root">
  <div fxFlex="90" class="content full-width">
    <table mat-table [dataSource]="tableData">

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Property</th>
        <td mat-cell *matCellDef="let element"> {{element.property}}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value</th>
        <td mat-cell *matCellDef="let element"> {{element.value}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-form-field class="full-width comment">
      <mat-label>Comment</mat-label>
      <textarea rows="3" matInput #commentInput [value]="card.comment" placeholder="Comment"></textarea>
    </mat-form-field>
  </div>
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="full-width">
    <button mat-raised-button color="warn" (click)="removeCard()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="printBlank()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="saveComment(commentInput.value)">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
