table {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.content {
  overflow-y: auto;
}

.root {
  max-height: calc(95vh - 48px);
}

.comment {
  margin-top: 20px;
}

::ng-deep tr.mat-footer-row,
tr.mat-row {
  height: 3px !important;
}
