<div class="full-width full-height" fxLayout="column" fxLayoutAlign="center center">

  <h1 fxFlexOffset="20px"><strong>SERVICE BOARD</strong></h1>
  <h3><strong>Reset Password</strong></h3>

  <mat-card>
    <mat-card-subtitle>Please enter your email address to request a password reset.</mat-card-subtitle>

    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput type="email" #passwordResetEmail>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center center" class="full-width" fxLayout="row">
      <button mat-raised-button routerLink="/sign-in">Log in</button>
      <button mat-raised-button color="primary" (click)="authService.forgotPassword(passwordResetEmail.value)">Send reset password email</button>
    </mat-card-actions>
  </mat-card>

</div>
