<div class="full-width full-height" fxLayout="column" fxLayoutAlign="center center">

  <h1 fxFlexOffset="20px"><strong>SERVICE BOARD</strong></h1>
  <h3><strong>Thank You for Registering</strong></h3>

  <mat-card>
    <mat-card-content fxLayout="column">
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verify your email address.</p>
      </div>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center center" class="full-width" fxLayout="row">
        <button mat-raised-button (click)="authService.sendVerificationMail(true)">Resend Verification Email</button>
        <button mat-raised-button color="primary"  routerLink="/sign-in">Sign in</button>
    </mat-card-actions>
  </mat-card>

</div>

