<div class="row" *ngIf="authService.userData as user">
  <img *ngIf="user.photoURL" src="{{user.photoURL}}">

  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
  <p>User ID: <strong>{{user.uid}}</strong></p>
  <p>Email: <strong>{{user.email}}</strong></p>
  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>

</div>
<button mat-raised-button color="primary" (click)="signOut()">Log out</button>
