.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.tool-card {
  padding: 5px;
}

app-card {
  padding: 10px;
}

.status-tittle {
  background-color: #212121;
  color: white;
  span {
    font-weight: bold;
  }
}

.card-column {
  height: 100%;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-column::-webkit-scrollbar {
  display: none;
}
