<div>
  <div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start" class="full-width">
      <mat-card class="tool-card" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="15px">
          <button mat-raised-button color="primary" (click)="openAddCardDialog()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-raised-button (click)="filterInput.value = ''; filter = ''; pickerInput.value = ''; getCards()">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-raised-button (click)="cardListsToTop()">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <mat-spinner [diameter]="36" *ngIf="isLoadingCards"></mat-spinner>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
          <div class="hide">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" #pickerInput (dateChange)="startDateChanged($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button (click)="picker.open()">
              <mat-icon>insert_invitation</mat-icon>
            </button>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput #filterInput (keyup)="filter = filterInput.value">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start" class="full-width" cdkDropListGroup>
      <div fxFlex="20" class="full-height">
        <div class="status-tittle" fxLayoutAlign="center">
          <span>NEW</span>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="10px" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="newCards"
             class="card-column"
             (cdkDropListDropped)="drop($event, 0)">
          <app-card *ngFor="let card of getFilteredCards(0)" (print)="printBlank(card)" (removeCard)="removeCard(card)"
                    (appendStatus)="appendStatus($event, card)" [card]="card" (click)="openCardViewDialog(card.id)"
                    (assignMe)="assignMe(card)" cdkDrag></app-card>
        </div>
      </div>

      <div fxFlex="20" class="full-height">
        <div class="status-tittle" fxLayoutAlign="center">
          <span>IN PROGRESS</span>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="10px" cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="inProgressCards" class="card-column"
             (cdkDropListDropped)="drop($event, 1)">
          <app-card *ngFor="let card of getFilteredCards(1)" (print)="printBlank(card)" (removeCard)="removeCard(card)"
                    (appendStatus)="appendStatus($event, card)" [card]="card" (click)="openCardViewDialog(card.id)"
                    (assignMe)="assignMe(card)" cdkDrag></app-card>
        </div>
      </div>

      <div fxFlex="20" class="full-height">
        <div class="status-tittle" fxLayoutAlign="center">
          <span>WAITING</span>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="10px" cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="waitingCards" class="card-column"
             (cdkDropListDropped)="drop($event, 2)">
          <app-card *ngFor="let card of getFilteredCards(2)" (print)="printBlank(card)" (removeCard)="removeCard(card)"
                    (appendStatus)="appendStatus($event, card)" [card]="card" (click)="openCardViewDialog(card.id)"
                    (assignMe)="assignMe(card)" cdkDrag></app-card>
        </div>
      </div>

      <div fxFlex="20" class="full-height">
        <div class="status-tittle" fxLayoutAlign="center">
          <span>SUCCESS</span>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="10px" cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="doneSuccessCards" class="card-column"
             (cdkDropListDropped)="drop($event, 3)">
          <app-card *ngFor="let card of getFilteredCards(3)" (print)="printBlank(card)" (removeCard)="removeCard(card)"
                    (appendStatus)="appendStatus($event, card)" [card]="card" (click)="openCardViewDialog(card.id)"
                    (assignMe)="assignMe(card)" cdkDrag></app-card>
        </div>
      </div>

      <div fxFlex="20" class="full-height">
        <div class="status-tittle" fxLayoutAlign="center">
          <span>FAILURE</span>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="10px" cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="doneFailureCards" class="card-column"
             (cdkDropListDropped)="drop($event, 4)">
          <app-card *ngFor="let card of getFilteredCards(4)" (print)="printBlank(card)" (removeCard)="removeCard(card)"
                    (appendStatus)="appendStatus($event, card)" [card]="card" (click)="openCardViewDialog(card.id)"
                    (assignMe)="assignMe(card)" cdkDrag></app-card>
        </div>
      </div>
    </div>
  </div>
</div>




