mat-toolbar {
  height:  35px !important;
  min-height: 35px !important;

  mat-toolbar-row {
    height: 35px !important;
  }
}

.logo {
  max-height: 30px;
  background-color: white;
  border-radius: 20%;
  margin-right: 10px;
}

.tittle {
  font-weight: bold;
  letter-spacing: 3px;
}
