<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img class="logo mat-elevation-z15" src="../../../assets/amarket-service.png" alt="">
          <span class="tittle">AVSD</span>
        </div>
        <div *ngIf="authService.isLoggedIn">
          <button mat-icon-button (click)="openUserView()">
            <mat-icon>account_box</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
