<mat-card fxLayout="column" class="mat-elevation-z5">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div><strong>{{card.id}}</strong></div>
    <div [matTooltip]="'dd/MM/yyyy HH:mm'">{{card.date.toDate() | date: 'dd/MM/yyyy HH:mm'}}</div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div class="info">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>account_circle</mat-icon>
      <span>{{card.fullName}}</span>
      <button mat-icon-button [cdkCopyToClipboard]="card.fullName" (click)="copy(card.fullName); $event.stopPropagation()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>call</mat-icon>
      <span>{{card.phoneNumber}}</span>
      <button mat-icon-button [cdkCopyToClipboard]="card.phoneNumber" (click)="copy(card.phoneNumber); $event.stopPropagation()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" [matTooltip]="card.assignedUserEmail">
      <mat-icon>assignment_ind</mat-icon>
      <span>{{card.assignedUserEmail ? card.assignedUserEmail.split("@")[0] : 'No one!'}}</span>
      <button mat-icon-button [matTooltip]="'Assign me!'" class="right"
              (click)="assignMe.emit(card); $event.stopPropagation()"><mat-icon>assignment_return</mat-icon></button>
      <button mat-icon-button [cdkCopyToClipboard]="card.assignedUserEmail" (click)="copy(card.assignedUserEmail); $event.stopPropagation()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" [matTooltip]="card.malfunction">
      <mat-icon>construction</mat-icon>
      <span>{{card.malfunction}}</span>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-icon-button color="primary" (click)="appendStatus.emit(false); $event.stopPropagation()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="appendStatus.emit(true); $event.stopPropagation()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removeCard.emit(card); $event.stopPropagation()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="print.emit(card); $event.stopPropagation()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</mat-card>
