.info span {
  overflow-x: hidden;
  white-space: nowrap;
}

mat-card {
  padding: 0 10px 0;
}

.info mat-icon {
  margin: 5px 10px 5px 0;
}

.header {
  border-radius: 2px;
  background-color: #212121;
  margin: 0 -10px 0 -10px;
  color: white;
  padding: 0 5px 0 5px
}

.info button {
  mat-icon {
    margin: 0;
    font-size: 120%;
  }
  opacity: .3;
  float: right;
  margin-left: auto;
}

.info button:hover {
  opacity: 1;
}



