<div class="full-width full-height" fxLayout="column" fxLayoutAlign="center center">

    <h1 fxFlexOffset="20px"><strong>SERVICE BOARD</strong></h1>
    <h3><strong>SIGN IN</strong></h3>

  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="email" #userName>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" #userPassword>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="full-width" fxLayout="row">
        <button mat-raised-button (click)="authService.googleAuth()">Log in with Google</button>
        <button mat-raised-button color="primary" (click)="authService.signIn(userName.value, userPassword.value)">Log in</button>
      </div>
      <div class="full-width" fxLayout="row">
        <button mat-button routerLink="/register-user">Sign Up</button>
        <button mat-button routerLink="/forgot-password">Forgot Password?</button>
      </div>
    </mat-card-actions>
  </mat-card>


</div>

