@import '~@angular/material/theming';
@include mat-core();

$avsb-primary: mat-palette($mat-grey, 900);
$avsb-accent: mat-palette($mat-pink, A200, A100, A400);

$avsb-warn: mat-palette($mat-red);

$avsb-theme: mat-light-theme($avsb-primary, $avsb-accent, $avsb-warn);
$avsb-dark-theme: mat-dark-theme($avsb-primary, $avsb-accent, $avsb-warn);

@include angular-material-theme($avsb-theme);

.dark {
  @include angular-material-theme($avsb-dark-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.hide {
  display: none;
}
