<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
  <div>
    <span class="data">{{data}}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="full-width">
    <button mat-raised-button (click)="confirm(false)">NO</button>
    <button mat-raised-button color="primary" (click)="confirm(true)">YES</button>
  </div>

</div>

